/* Start Variables */
:root {
    --main-transition: 0.3s;
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
}

/* End Variables */
/* Start Global Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

a:visited,
a:hover,
a::selection,
a {
    color: black;
}

body {
    /* font-family: */
    scroll-behavior: smooth;

}

/* End Global Rules */

/* Start Page */
.page {
    display: flex;
    min-height: 100vh;

}

/* End Page */

/* start sidebar */
.sidebar {

    background-color: white;
    padding: 20px;
    position: relative;
    box-shadow: 0 0 10px #ddd;
    text-align: center;
    width: 200px;
}

@media(max-width: 767px) {
    .sidebar {
        width: 60px;
        padding: 10px;
    }
}

.sidebar h3 {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

@media(max-width: 767px) {
    .sidebar h3 {
        padding: 5px;
        font-size: 14px;
    }
}

@media(min-width: 767px) {
    .sidebar h3 {
        text-align: center;
        font-weight: bold;
        position: relative;
        width: fit-content;
        margin: 0px auto 40px;
    }

    @media(min-width: 767px) {}

    .sidebar h3::after {
        content: '';
        position: absolute;
        width: calc(100% + 40px);
        height: 2px;
        background-color: black;
        bottom: -20px;
        left: -20px;
        display: block;
    }

    .sidebar h3::before {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: black;
        bottom: -27px;
        left: 50%;
        transform: translateX(-50%);
        border: 4px solid white;
        display: block;
        z-index: 100;
    }
}

.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li a {
    transition: 0.5s;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: var(--main-transition);
    font-size: 14px;
    border-radius: 6px;
    margin-bottom: 5px;
}
.sidebar ul li i {
    margin-right: 5px;
}
@media(max-width: 767px) {
    .sidebar ul li a {
        padding: 10px;
    }
    .sidebar ul li i {
        margin-right: 0px;
    }
}
.sidebar ul li a:hover,
.sidebar ul li a.active{
    background-color: #f6f6f6;
}
.sidebar ul li span {
    margin-left: 5px;
}

@media(max-width: 767px) {
    .sidebar ul li span {
        display: none;
    }
}



/* end sidebar */

/* Start Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 10px 5px;
}

.navbar .search {
    position: relative;
    padding: 10px;

}

.navbar .search i {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar .user-parent {
    display: flex;
    gap: 8px;
    padding: 10px;
    align-items: center;
}

.navbar .comment {
    position: relative;
}

.navbar .comment::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    top: -5px;
    right: 10px;
}

.navbar input {
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

.navbar img {
    max-width: 100%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    outline: 2px solid #eee;
    margin-left: 2px;
}

@media(max-width: 767px) {
    .navbar input {
        width: 130px
    }
}

/* End Navbar */
/* Start Wrapper */
.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    gap: 30px;
}

@media(max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* End Wrapper */

/* Start Content */
.content {
    flex: 1;
    background-color: #f1f5f9;
    width: 100%;
    overflow: hidden;

}

.page-content {}

.page-content h1 {
    margin: 20px 20px 40px;
    position: relative;
    font-weight: bold;
}

.page-content h1::before,
.page-content h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 3px;
}

.page-content h1::before {
    width: 40px;
    background-color: black;
    z-index: 1;
}

.page-content h1::after {
    width: 120px;
    background-color: white;
}

/* Start Welcome */
.welcome-parent {
    background-color: white;
}

.welcome {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #eee;
    align-items: center;
    border-radius: 10px;

}

.welcome h3 {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;

}

.welcome .name {
    color: #777;
    font-size: 20px;
    margin-bottom: 20px;
}

@media(max-width: 767px) {
    .welcome {
        flex-direction: column;
        text-align: center;
    }
}

.content .description-parent {

    padding: 30px 10px 10px;
    background-color: white;
    position: relative;
}

.content .description-parent .user img {
    position: absolute;
    top: -25px;
    left: 20px;
    display: block;
    max-width: 100%;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    outline: 2px solid #eee;
    z-index: 50;
    background-color: #eee;
}

.content .decription {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 10px;
    text-align: center;
    flex-wrap: wrap;
}

@media(max-width: 767px) {
    .content .decription {
        margin-bottom: 3px;
        margin-top: 3px;
        padding: 5px;
        flex-direction: column;

    }

    .content .decription div {
        margin-bottom: 25px;
    }
}


.content .decription div p {
    color: #777;
}

.decription h4 {
    margin-bottom: 10px;
}

.description-parent .profile-btn {
    background-color: var(--blue-color);
    color: white;
    padding: 5px 10px;
    display: block;
    margin: 5px 5px 5px auto;
    border: none;
    margin-top: 30px;
    border-radius: 10px;
    transition: var(--main-transition);
    cursor: pointer;
}

.description-parent .profile-btn:hover {
    background-color: var(--blue-alt-color);
}

/* End Welcome */
/* Start Draft */
.draft {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.draft h3 {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}

.draft p {
    margin-bottom: 20px;
    color: #777;

}

.draft input {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #eee;
    border: none;
}

.draft textarea {
    padding: 10px;
    background-color: #eee;
    border: none;
    resize: none;

}

.draft button {
    width: fit-content;
    margin-top: 10px;
    margin-left: auto;
    border: none;
    padding: 5px 10px;
    background-color: var(--blue-color);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.draft button:hover {
    background-color: var(--blue-alt-color);
}

/* End Draft */

/* Start Targets*/
.targets {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.targets h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.targets p {
    color: #777;
    margin-bottom: 20px;

}

.targets .each-target {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    align-items: center;

}

.targets .each-target .icon .money {
    background-color: #0077ff4f;
    padding: 30px;
}

.targets .each-target .icon .project {
    background-color: rgba(255, 166, 0, 0.397);
    padding: 30px;
}

.targets .each-target .icon .team {
    background-color: rgba(0, 128, 0, 0.308);
    padding: 30px;
}

.targets .each-target .details {
    flex: 1;
}

.targets .each-target .details h3 {
    font-size: 16px;
    color: #777;
}

.targets .each-target .details span {
    display: block;
    font-weight: bold;
    font-size: 12px;
}

.targets .each-target .details div {
    position: relative;
    margin-top: 5px;
}

.targets .each-target .details .money {
    background-color: #0077ff3a;
    height: 4px;
}

.targets .each-target .details .money>span {
    position: absolute;
    background-color: #0075ff;
    height: 4px;
}

.targets .each-target .details .project {
    background-color: rgba(255, 166, 0, 0.219);
    height: 4px;
}

.targets .each-target .details .project>span {
    position: absolute;
    background-color: orange;
    height: 4px;
}

.targets .each-target .details .team {
    background-color: rgba(0, 128, 0, 0.185);
    height: 4px;
}

.targets .each-target .details .team>span {
    position: absolute;
    background-color: green;
    height: 4px;
}

.targets .each-target .details div span>.money-span {
    position: absolute;
    right: -10px;
    top: -45px;
    height: 30px;
    width: 30px;
    display: block;
    color: white;
    font-size: 12px;
    background-color: var(--blue-alt-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.targets .each-target .details div span>.money-span::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px;
    border-color: var(--blue-alt-color) transparent transparent transparent;
    bottom: -10px;
}

.targets .each-target .details div span>.team-span {
    position: absolute;
    right: -10px;
    top: -45px;
    height: 30px;
    width: 30px;
    display: block;
    color: white;
    font-size: 12px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.targets .each-target .details div span>.team-span::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px;
    border-color: green transparent transparent transparent;
    bottom: -10px;
}

.targets .each-target .details div span>.project-span {
    position: absolute;
    right: -10px;
    top: -45px;
    height: 30px;
    width: 30px;
    display: block;
    color: white;
    font-size: 12px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.targets .each-target .details div span>.project-span::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px;
    border-color: orange transparent transparent transparent;
    bottom: -10px;
}


@media(max-width: 400px) {
    .targets .icon {
        display: none;
    }
}

/* End Targets*/
/* Start Tickets */
.tickets {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.tickets .boxes-parent {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.tickets .box {
    border: 1px solid #777;
    border-radius: 10px;
    flex-basis: 46%;
    text-align: center;

}

@media(max-width: 767px) {
    .tickets .box {
        flex-basis: 90%;
    }
}

.tickets h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.tickets p {
    color: #777;
    margin-bottom: 10px;

}

.tickets .box .icon .ticket {
    color: orange;
    padding: 10px;
}

.tickets .box .icon .down {
    color: blue;
    padding: 10px;
}

.tickets .box .icon .right {
    color: green;
    padding: 10px;
}

.tickets .box .icon .wrong {
    color: red;
    padding: 10px;
}

.tickets .box span {
    display: block;
    margin-bottom: 5px;
}

.tickets .box span:first-of-type {
    font-size: 25px;
    font-weight: bold;
}

.tickets .box span:last-of-type {
    font-size: 14px;
    color: #777;
}

/* End Tickets */
/* Start News */
.news {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.news .each-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 0;
}

@media(max-width: 767px) {
    .news .each-one {
        flex-direction: column;
        align-items: center;

    }

}

.news .each-one:not(:last-child) {
    border-bottom: 2px solid #eee;
}

.news .info-parent {
    display: flex;
    align-items: center;
}

@media(max-width: 767px) {
    .news .info-parent {
        flex-direction: column;

        text-align: center;
    }

    .news .info-parent .info {
        margin-top: 20px;
    }

    .news h3 {
        text-align: center;
    }
}

.news h3 {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}

.news .info-parent img {
    max-width: 100%;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.news .info-parent .info {
    margin-left: 10px;
}

.news .info-parent .info h4 {
    font-weight: 22px;
    margin-bottom: 5px;
    font-weight: bold;
}

.news .info-parent .info p {
    color: #777;
}

.news .each-one .published {
    background-color: #eee;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;

}

/* End News */
/* Start Tasks */
.tasks {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.tasks h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.tasks .each-task {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    padding: 10px 0;
}

.tasks .each-task:not(:last-of-type) {
    border-bottom: 2px solid #eee;
}

.tasks .each-task .text h4 {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

.tasks .each-task .text p {
    color: #777;
    font-size: 14px;

}

.tasks .done h4,
.tasks .done p {
    opacity: 0.3;
    text-decoration: line-through;
}

.tasks .done .remove i {
    opacity: 0.3;
    margin-left: 10px;
    display: block;
}

.tasks .remove {
    transition: var(--main-transition);
    cursor: pointer;
}

.tasks .remove:hover {
    color: red;
}

/* End Tasks */
/* Start Search */
.page-content .search {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.page-content .search h3 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}

.page-content .search .each-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
}

.page-content .search .each-item span {

    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 8px;

}

.page-content .search .keyword h4,
.page-content .search .keyword p {
    font-size: 18px;
    color: #777;
}

/* End Search */
/* Start Uploads */
.uploads {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.uploads h3 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.uploads .each-upload {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px 0;
}

.uploads .each-upload:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

.uploads .each-upload .text-parent {
    display: flex;
    align-items: center;
}

.uploads .each-upload .text {
    margin-left: 10px;
}

.uploads .each-upload .text-parent h4 {
    margin-bottom: 4px;
    font-size: 12px;
}

.uploads .each-upload .text-parent span {

    font-size: 14px;
}

.uploads .each-upload>span {
    background-color: #eee;
    padding: 8px;
    border-radius: 8px;
    font-size: 12px;
    margin-left: 10px;
}

.uploads .each-upload .text span {
    color: #777;
    font-size: 12px;
}

.uploads .each-upload img {
    max-width: 100%;
    width: 40px;
    object-fit: cover;

}

/* End Uploads */
/* Start Progress */
.progress {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.progress h3 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

@media(max-width: 767px) {
    .progress h3 {
        font-size: 22px;
    }
}

.progress ul {
    list-style: none;
    padding-left: 25px;
    position: relative;
}

.progress ul::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: var(--blue-color);
    left: 15px;
    top: 0;
}

.progress ul li {
    padding-left: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    position: relative;
}

.progress ul li::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    background-color: white;
    z-index: 10;
    outline: 2px solid var(--blue-color);
    border: 2px solid white;

}

.progress ul .done::before {
    background-color: var(--blue-color);
}

.progress ul .current::before {
    animation: flash 2s linear infinite;
}

/* End Progress */
/* Start Reminders */
.reminders {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.reminders h3 {
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: bold;
}

.reminders ul {
    list-style: none;
    padding-left: 45px;
}

.reminders ul li {
    margin-bottom: 20px;
    position: relative;
}

.reminders ul li::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: -45px;
    top: 50%;
    transform: translateY(-50%);
}

.reminders ul li::after {
    content: '';
    position: absolute;
    height: 100%;
    left: -15px;
    background-color: black;
    width: 2px;
    top: 0;
}

.reminders ul li.blue::before,
.reminders ul li.blue::after {
    background-color: var(--blue-color);
}

.reminders ul li.green::before,
.reminders ul li.green::after {
    background-color: green;
}

.reminders ul li.red::before,
.reminders ul li.red::after {
    background-color: red;
}

.reminders ul li.orange::before,
.reminders ul li.orange::after {
    background-color: orange;
}

.reminders ul li div h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.reminders ul li div span {
    display: block;
    color: #777;
    font-size: 14px;

}

/* End Reminders */
/* Start Post */
.post {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.post h3 {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}

.post .info {
    display: flex;
    align-items: center;
}

.post .info .info-text {
    margin-left: 10px;
    padding: 15px;
    border-bottom: 2px solid #eee;
}

.post .info .info-text h4 {
    margin-bottom: 10px;
    font-size: 20px;
}

.post .info .info-text p {
    color: #777;
    font-size: 17px;

}

.post .image-parent img {
    max-width: 100%;
    width: 50px;
    border-radius: 50%;
}

.post>p {
    line-height: 1.7;
    padding: 30px 0;
    font-size: 18px;
    border-bottom: 2px solid #eee;
}

@media(max-width: 767px) {
    .post>p {
        text-align: center;
    }
}

.post .post-footer {
    margin-top: 20px;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #777;
}

.post .post-footer .first-part span {
    margin-left: 5px;
}

.post .post-footer .comments span {
    margin-left: 5px;
}

/* End Post */
/* Start Social Media Stats */
.social-media-stats {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.social-media-stats h3 {
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: bold;
}

.social-media-stats>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

@media(max-width: 500px) {
    .social-media-stats>div {
        display: block;
        text-align: center;
    }

    .social-media-stats .icon-followers {
        display: block;
        margin: auto;
        text-align: right;
    }

    .social-media-stats a {
        margin-left: auto;
        margin-top: 10px;
    }
}

.social-media-stats .twitter {
    background-color: rgb(29 161 242 / 20%);
    padding: 20px;
    position: relative;
}

.social-media-stats .twitter i {
    background-color: #1da1f2;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.social-media-stats .twitter span {
    padding-left: 40px;
    color: #1da1f2;
}

.social-media-stats .twitter a {
    background-color: #1da1f2;
    color: white;
    width: 60px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.social-media-stats .youtube {
    background-color: rgb(255 0 0 / 20%);
    padding: 20px;
    position: relative;
}

.social-media-stats .youtube i {
    background-color: #ff0000;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.social-media-stats .youtube span {
    padding-left: 40px;
    color: #ff0000;
}

.social-media-stats .youtube a {
    background-color: #ff0000;
    color: white;
    width: 75px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.social-media-stats .facebook {
    background-color: rgb(24 119 242 / 20%);
    padding: 20px;
    position: relative;
}

.social-media-stats .facebook i {
    background-color: #1877f2;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.social-media-stats .facebook span {
    padding-left: 40px;
    color: #1da1f2;
}

.social-media-stats .facebook a {
    background-color: #1877f2;
    color: white;
    width: 60px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.social-media-stats .in {
    background-color: rgb(0 119 181 / 20%);
    ;
    padding: 20px;
    position: relative;
}

.social-media-stats .in i {
    background-color: #0077b5;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.social-media-stats .in span {
    padding-left: 40px;
    color: #0077b5;
}

.social-media-stats .in a {
    background-color: #0077b5;
    color: white;
    width: 65px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

/* End Social Media Stats */
/* End Content */
/* Start Projects */
.projects {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
}

.projects h3 {
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: bold;
}

.projects .responsive-table {
    overflow-x: auto;
}

.projects table {
    background-color: #eee;
    min-width: 1000px;
    width: 100%;

}

.projects table tbody {}

.projects table thead th {
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

.projects table tr td {
    text-align: left;
    padding: 10px;
    background-color: white;
}

.projects table tbody tr td img {
    max-width: 100%;
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
    outline: 2px solid #eee;
}

.projects table tbody tr td img:not(:first-of-type) {
    margin-left: -15px;
}

.projects table tbody tr .pending {
    background-color: orange;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.projects table tbody tr .completed {
    background-color: green;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.projects table tbody tr .rejected {
    background-color: red;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.projects table tbody tr .in-progress {
    background-color: var(--blue-color);
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* End Projects */
/* Start Settings */
.settings-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

@media(max-width: 767px) {
    .settings-page {
        margin-left: 5px;
        margin-right: 5px;
        grid-template-columns: minmax(100px, 1fr);
        gap: 10px;
    }
}

/* Start Control */
.control {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.control h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.control>p {
    color: #777;
    margin-bottom: 20px;
}

.control .control-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.control .control-btn .text h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.control .control-btn .text p {
    color: #777;
}

label input {
    appearance: none;
}

label .toggle {
    width: 80px;
    height: 35px;
    background-color: #ddd;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: var(--main-transition);
    margin-left: 10px;
}

label .toggle::before {
    position: absolute;
    font-family: "Font Awesome 6 Free";
    content: "\f00d";
    font-weight: 900;
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    transition: var(--main-transition);
}

label input:checked+.toggle {
    background-color: var(--blue-color);
}

label input:checked+.toggle::before {
    left: 50px;
    content: '\f00c';
    color: var(--blue-color);
}

.control textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    border-radius: 10px;
    border-color: #77777752;
    outline: none;
}

/* End Control */
/* Start General-info */
.general-info {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.general-info h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.general-info>p {
    color: #777;
    margin-bottom: 20px;
}

.general-info form {}

.general-info form label {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #777;
    font-size: 16px;
}

.general-info form input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #eee;
    outline: none;
}

.general-info form input[type="email"] {
    background-color: #eee;
    cursor: no-drop;
}

.general-info form .change {
    display: flex;
    align-items: center;
}

.general-info a {
    color: var(--blue-color);
    margin-left: 10px;
    font-size: 20px;
}

/* Start General-info */
/* Start Security-info */
.security-info {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.security-info h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.security-info>p {
    color: #777;
    margin-bottom: 20px;
}

.security-info>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.security-info>div h4 {
    font-size: 18px;
    margin-bottom: 8px;
}

.security-info>div p {
    color: #777;
}

.security-info .password a {
    color: white;
    background-color: var(--blue-color);
    padding: 7px 14px;
    border-radius: 5px;
    transition: var(--main-transition);
}

.security-info .password a:hover {
    background-color: var(--blue-alt-color);
}

.security-info .devices a {
    color: black;
    background-color: #eee;
    padding: 7px 14px;
    border-radius: 5px;
}

/* End Security-info */
/* Start Social-info */
.social-info {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.social-info h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.social-info>p {
    color: #777;
    margin-bottom: 20px;
}

.social-info form div {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: #eee;
}

.social-info form div input {
    width: 100%;
    padding: 10px;
    border: 2px solid #eee;
    background-color: #eee;
    border-left: 2px solid #ddd;
}

.social-info form div i {
    height: 100%;
    width: 8%;
    color: #777;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition);
}

.social-info form div:focus-within i {
    color: black;
}

/* End Social-info */
/* Start Widgets-control */
.widgets-control {
    padding: 20px;
    background-color: white;
    border-radius: 10px;

}

.widgets-control h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.widgets-control>p {
    color: #777;
    margin-bottom: 20px;
}

.widgets-control form div {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.widgets-control form label {
    position: relative;
    cursor: pointer;
}

.widgets-control form label::before {
    font-family: 'Font Awesome 6 Free';
    content: '\f00c';
    font-weight: 900;
    position: absolute;
    left: -23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--blue-color);
    transform: scale(0) rotate(360deg);
    transition: var(--main-transition);
    font-size: 15px;
    top: 50%;
    margin-top: -7px;

}

.widgets-control form input:checked+label::before {
    transform: scale(1);
}

.widgets-control form label:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #ddd;
    left: -24px;
    top: 50%;
    margin-top: -8px;
    transition: var(--main-transition);
    border-radius: 4px;
}

.widgets-control form div:hover label::after {
    border: 1px solid var(--blue-color);
}

.widgets-control form div label {
    font-size: 18px;
}

.widgets-control form div input {
    transition: var(--main-transition);
    appearance: none;
    padding-left: 15px;

}

.widgets-control form div input:checked {}

/* End Widgets-control */
/* Start Backup Manager */
.backup-manager {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.backup-manager h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.backup-manager input {
    appearance: none;
    padding-left: 15px;
}

.backup-manager>p {
    color: #777;
    margin-bottom: 20px;
}

.backup-manager form>div {
    margin-bottom: 10px;
}

.backup-manager form>div label::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid black;
    left: -22px;
    top: 50%;
    margin-top: -10px;
}

.backup-manager form>div label::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: var(--blue-color);
    top: 50%;
    margin-top: -7px;
    left: -19px;
    border-radius: 50%;
    transform: scale(0) rotate(360deg);
    transition: var(--main-transition);
}

.backup-manager form input:checked+label::after {
    transform: scale(1);
}

.backup-manager form label {
    padding-left: 5px;
    font-size: 20px;
    position: relative;
}

.backup-manager .packages {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-top: 1px solid #eee;
    padding: 20px 0;
    gap: 10px;
}

.backup-manager .packages input {
    appearance: none;
}

.backup-manager .packages div {
    transition: var(--main-transition);
}

.backup-manager .packages input:checked+div {
    color: var(--blue-color);
}

.backup-manager .packages>div {
    border: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 27%;
    border-radius: 8px;
}

@media(max-width: 767px) {
    .backup-manager .packages>div {
        flex-basis: 100%;
    }
}

.backup-manager .packages>div label {
    margin-top: 6px;
    font-size: 19px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
}

.backup-manager .packages>div label i {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

/* End Backup Manager */
/* End Settings */
/* Start Profile */
.profile-page {}

.overview {
    margin: 20px;
    background-color: white;
    display: flex;
    border-radius: 10px;
}

@media(max-width: 767px) {
    .overview {
        flex-direction: column;
    }
}

.overview .image {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overview .image img {
    max-width: 100%;
    width: 100px;
    border-radius: 50%;
    border: 3px solid white;
    outline: 3px solid #ddd;
    background-color: #eee;
}

@media(max-width: 767px) {
    .overview .image img {
        margin-top: 25px;
    }
}

.overview .image h3 {
    padding: 10px;
    margin-top: 5px;
    font-size: 20px;
}

.overview .image p {
    color: #777;
    margin-top: 5px;
    margin-bottom: 10px;
}

.overview .image .level {
    position: relative;
    width: 40%;
    margin-bottom: 16px;
    background-color: #eee;
    height: 5px;
    border-radius: 5px;

}

.overview .image .level span {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
    height: 5px;
    background-color: var(--blue-color);
}

.overview .image .rating-icon i {
    color: orange;
    font-size: 13px;
    margin-bottom: 15px;
}

.overview span {
    color: #777;
    font-size: 15px;
}

.overview .overview-info {

    border-left: 1px solid #eee;
    flex: 1;
}

@media(min-width: 992px) {
    .overview .overview-info {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .overview .overview-info>div {
        flex-basis: 48%;
    }
}

.overview .overview-info>div:not(:last-of-type) {
    margin-bottom: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}

.overview .overview-info>div {
    transition: var(--main-transition);
    padding: 20px;
}

.overview .overview-info div:hover {
    background-color: #dddddd81;
}

.overview .overview-info>div h4 {
    color: #777;
    margin-bottom: 10px;
}

.overview .overview-info>div p:not(:last-of-type) {
    margin-bottom: 10px;
}

.overview .overview-info>div p span {
    color: #777;
}

.overview label .toggle {
    width: 80px;
    height: 20px;
    background-color: #ddd;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: var(--main-transition);
    margin-left: 0;
}

.overview label .toggle::before {
    position: absolute;
    font-family: "Font Awesome 6 Free";
    content: "\f00d";
    font-weight: 900;
    background-color: white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    transition: var(--main-transition);
    font-size: 10px;
}

.overview label input:checked+.toggle {
    background-color: var(--blue-color);
}

.overview label input:checked+.toggle::before {
    left: 64px;
    content: '\f00c';
    color: var(--blue-color);
}

.other-information {
    display: flex;
    gap: 20px;
    margin: 20px;

}

@media(max-width: 767px) {
    .other-information {
        flex-direction: column;
    }
}

.other-information .my-skills {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.other-information .my-skills h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.other-information .my-skills p {
    color: #777;
    margin-bottom: 40px;
}

.other-information .my-skills ul {
    list-style: none;
}

.other-information .my-skills ul li {}

.other-information .my-skills ul li span {
    background-color: #eee;
    margin-right: 5px;
    padding: 8px;
    margin-bottom: 30px;
    display: inline-flex;
    border-radius: 8px;

}

.other-information .lastest-activities img {
    max-width: 100%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;

}

.other-information .lastest-activities {
    background-color: white;
    padding: 20px;
    flex: 1;
    border-radius: 10px;
}

.other-information .lastest-activities h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.other-information .lastest-activities>p {
    color: #777;
    margin-bottom: 15px;
}

.other-information .lastest-activities>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

@media(max-width: 767px) {
    .other-information .lastest-activities>div {
        flex-direction: column;
    }
}

.other-information .lastest-activities>div:not(:last-of-type) {

    border-bottom: 1px solid #eee;
}

.other-information .lastest-activities .each-activity {
    display: flex;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
}

@media(max-width: 767px) {
    .other-information .lastest-activities .each-activity {
        text-align: center;
        flex-direction: column;
    }
}

.other-information .lastest-activities .each-activity h4 {
    font-size: 16px;
    margin-bottom: 15px;

}

.other-information .activity-date span:first-of-type {
    display: block;
    margin-bottom: 15px;
    text-align: center;
}

@media((min-width: 767px) and (max-width: 992px)) {
    .other-information .activity-date span {
        margin-left: 10px;
    }
}

/* End Profile */
/* Start Projects Page */
.projects-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

@media(max-width: 767px) {
    .projects-page {
        grid-template-columns: minmax(100px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
    }
}

.projects-page>div {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.projects-page>div:last-child {
    margin-bottom: 20px;
}

.projects-page>div>span {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 14px;
    color: #777;
    letter-spacing: 1px;
}

.projects-page>div h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.projects-page>div p {
    color: #777;
    margin-bottom: 40px;
}

.projects-page .team {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.projects-page img {
    max-width: 100%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: var(--main-transition);
    position: relative;
    border: 1px solid white;
    outline: 1px solid #eee;
}

.projects-page img:hover {
    z-index: 5;
}

.projects-page img:not(:first-child) {
    margin-left: -15px;
}

.projects-page .tech {
    padding: 15px 0;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #eee;

}

@media(max-width:767px) {
    .projects-page .tech {
        justify-content: flex-start;
        flex-direction: column;
        gap: 10px;
        width: fit-content;
        margin-right: 0;
    }

    .projects-page .tech>span {
        margin-right: 10px;
    }

}

.projects-page .tech span {
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
}


.projects-page .tech span:not(:last-child) {
    margin-right: 10px;
}

.projects-page .rate {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.projects-page .rate>span {
    color: #777;
}

@media(max-width:767px) {

    .projects-page .rate {
        flex-direction: column;
        text-align: center;

    }

    .projects-page .rate>div {
        margin: 18px auto;
    }
}

.projects-page .rate div {
    width: 250px;
    height: 10px;
    border-radius: 5px;
    background-color: #eee;
    position: relative;
}

@media(max-width: 400px) {
    .projects-page .rate div {
        width: 100px;
    }
}

.projects-page .rate div span {
    position: absolute;
    height: 10px;
    border-radius: 5px;
    left: 0;
    top: 0;
}

.projects-page .mz-dashboard .rate div span {
    background-color: #f44336;
}

.projects-page .academy-portal .rate div span {
    background-color: #22c55e;
}

.projects-page .chatting-app .rate div span {
    background-color: var(--blue-color);
}

.projects-page .ahmed-dashboard .rate div span {
    background-color: #22c55e;
}

.projects-page .ahmed-portal .rate div span {
    background-color: #22c55e;
}

.projects-page .emad-application .rate div span {
    background-color: #f44336;
}

.projects-page .emad-dashboard .rate div span {
    background-color: #22c55e;
}

.projects-page .emad-portal .rate div span {
    background-color: #22c55e;
}

.projects-page .ahmed-application .rate div span {
    background-color: #22c55e;
}

/* End Projects Page */
/* Start Course Page */
.courses-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

@media(max-width: 767px) {
    .courses-page {
        margin-left: 10px;
        margin-right: 10px;
        grid-template-columns: minmax(100px, 1fr);
    }
}

.courses-page .each-course {
    border-radius: 10px;
    background-color: white;
    position: relative;

}

.courses-page .each-course .text {
    padding: 20px;

}

.courses-page .each-course .course-img {
    max-width: 100%;
    width: 100%;
}

.courses-page .each-course .presenter {
    position: absolute;
    max-width: 100%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 20px;
    top: 20px;
    border: 2px solid white;
}

.courses-page .each-course div h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.courses-page .each-course div>p {
    color: #777;
    line-height: 1.5;
}

.courses-page .each-course div>a {
    display: block;
    margin: 20px auto;
    padding: 4px 8px;
    font-size: 15px;
    color: white;
    background-color: var(--blue-color);
    width: fit-content;
    border-radius: 5px;
    border: none;
    transition: var(--main-transition);
}

.courses-page .each-course div>a:hover {
    background-color: var(--blue-alt-color);
}

.courses-page .each-course .views-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #777;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.courses-page .each-course .views {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
}

.courses-page .each-course .price span {
    font-size: 13px;
}


/* End Course Page */
/* Start Friends Page */
.friends-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

@media(max-width: 767px) {
    .friends-page {
        grid-template-columns: minmax(100px, 1fr);
        margin-left: 10px;
        margin-right: 10px;

    }
}

.friend {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    position: relative;
}

.friend .contact {
    position: absolute;
    top: 10px;
    left: 10px;
}

.friend .contact i {
    background-color: #eee;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #777;
    transition: var(--main-transition);
    cursor: pointer;
    font-size: 13px;
}

.friend .contact i:hover {
    background-color: var(--blue-color);
    color: white;
}

.friend .img-parent {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.friend img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
}

.friend h4 {
    text-align: center;
    margin-bottom: 10px;
}

.friend>p {
    text-align: center;
    color: #777;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.friend .friend-info {
    padding: 20px 0 10px;
    border-bottom: 1px solid #eee;
}

.friend .friend-info>div {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #777;
    font-size: 14px;
}

.friend .other-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

@media(max-width: 480px) {
    .friend .other-info {
        flex-direction: column;
        gap: 10px;
    }
}

.friend .other-info>p {
    color: #777;
    font-size: 14px;
}

.friend .other-info a {
    font-size: 14px;
}

.friend .other-info a:first-child {
    background-color: var(--blue-color);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 2px;
}

.friend .other-info a:last-child {
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

/* End Friends Page */
/* Start Files Page */
.files-page {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    gap: 10px;
    flex-direction: row-reverse;
    align-items: flex-start;
}

@media(max-width: 767px) {
    .files-page {
        flex-direction: column;
        align-items: normal;
    }
}

.files-page .files-statistics {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 280px;

}

@media(max-width: 767px) {
    .files-page .files-statistics {
        min-width: 100px;
    }
}

.files-page .files-statistics h4 {
    font-size: 22px;
    margin-bottom: 10px;
}

.files-page .files-statistics>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px solid #eee;
    padding: 10px;
}

.files-page .files-statistics>div .text-parent {
    display: flex;
    align-items: center;
    gap: 10px;
}

.files-page .files-statistics>div .text-parent i {
    padding: 10px;

}

.files-page .files-statistics>.pdf .text-parent i {
    background-color: rgb(0 117 255 / 20%);
    color: #0075ff;
}

.files-page .files-statistics>.images .text-parent i {
    background-color: rgb(34 197 94 / 20%);
    color: #22c55e;
}

.files-page .files-statistics>.word .text-parent i {
    background-color: rgb(244 67 54 / 20%);
    color: #f44336;
}

.files-page .files-statistics>.csv .text-parent i {
    background-color: rgb(245 158 11 / 20%);
    color: #f59e0b;
}

.files-page .files-statistics>div .text p {
    margin-bottom: 2px;
    font-size: 12px;
}

.files-page .files-statistics>div .text span {
    color: #777;
    font-size: 14px;

}

.files-page .files-statistics a {
    display: block;
    margin: 10px auto 0;
    background-color: var(--blue-color);
    padding: 10px 20px;
    color: white;
    width: fit-content;
    border-radius: 10px;
    font-size: 14px;
}

.files-page .files-statistics a:hover i {
    animation: move-up linear 0.7s infinite;
}

.files-page .files-statistics a i {
    margin-right: 10px;
    font-size: 14px;
}

.files-page .each-file-parent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    flex: 1;
}

@media(max-width: 767px) {
    .files-page .each-file-parent {
        grid-template-columns: minmax(100px, 1fr);

    }
}

.files-page .each-file-parent .each-file {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.files-page .each-file-parent div.each-file:last-of-type {
    margin-bottom: 20px;
}

.files-page .each-file-parent .each-file i {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #777;
}

.files-page .each-file-parent .each-file .image-parent {
    text-align: center;
    margin-top: 10px;
}

.files-page .each-file-parent .each-file img {
    max-width: 100%;
    width: 80px;
    margin-bottom: 20px;
    transition: 0.4s;
}

.files-page .each-file-parent .each-file img:hover {
    transform: rotate(8deg);
}

.files-page .each-file-parent .each-file p {
    text-align: center;
    margin-bottom: 20px;
}

.files-page .each-file-parent .each-file h4 {
    color: #777;
    margin-bottom: 20px;
    font-size: 14px;

}

.files-page .each-file-parent .other-info {
    padding-top: 10px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: #777;
}

/* End Files Page */
/* Start Plans */
.plans-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    gap: 20px;
}

@media(max-width: 767px) {
    .plans-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;

    }
}

.plans-page>div {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.plans-page>div:last-child {
    margin-bottom: 20px;
}

.plans-page>div .price {
    text-align: center;
    padding: 20px;
    border: 4px solid white;
    margin-bottom: 10px;
    color: white;
}

.plans-page>.free .price {

    background-color: #22c55e;
    outline: 2px solid #22c55e;
}

.plans-page>.basic .price {

    background-color: #0075ff;
    outline: 2px solid #0075ff;
}

.plans-page>.premium .price {

    background-color: #f59e0b;
    outline: 2px solid #f59e0b;
}

.plans-page>div .price h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.plans-page>div .price>div {
    font-size: 25px;
    position: relative;
    width: fit-content;
    margin: auto;
}

.plans-page>div .price>div span {
    font-size: 12px;
    position: absolute;
    top: -5px;
    left: -10px;
}

.plans-page>div ul {
    list-style: none;
}

.plans-page>div ul li {
    padding: 12px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.plans-page>div ul li span {
    margin-left: 5px;
}

.plans-page>div ul .help {
    margin-left: auto;
    color: #777;
    cursor: pointer;
}

.plans-page>div ul li i:not(.yes, .help) {
    color: #f44336;
}

.plans-page>div ul .yes {
    color: #22c55e;
}

.plans-page>div a {
    color: white;
    border-radius: 5px;
    display: block;
    width: fit-content;
    padding: 4px 8px;
    margin-top: 10px;
}

.plans-page .free a {

    background-color: #22c55e;
}

.plans-page .basic a {

    background-color: #0075ff;
}

.plans-page .premium p {

    text-align: center;
    color: #777;
    margin: 10px auto 0;

}

/* End Plans */
/* Start Animation */
@keyframes flash {

    0%,
    100% {
        background-color: white;
    }

    50% {
        background-color: var(--blue-color);
    }
}

@keyframes move-up {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-4px);

    }
}

/* End Animation */